## Python Notes

In [ ]:
price = '10.20'

print(price)

In [10]:
price = float(price)

print(price)

10.2

In [11]:
price = price *10

print(price)

102.0

In [13]:
favorite_num = 12.12

In [14]:
# Reassignment Real World Comparison
# Tab or running total (restaunt)

In [17]:
total = 0
total

0

In [18]:
ice_tea = 1.99
egg_roll = 4.99
noodle_bowl = 7.50

In [19]:
# Ordering ony an ice tea add to total
# the total is always defined in terms of itself (or its previous vaule)
total = total + ice_tea
total

1.99

In [20]:
total = total + ice_tea + egg_roll
total #ice tea + egg_roll +

8.97

In [23]:
# += is the dame as total = total + something (update)
total += noodle_bowl
total

20.450000000000003

In [32]:
# Boolean Values
# (True, False)
True

True

In [34]:
False

False

In [35]:
favorite_num <= 10

False

In [36]:
favorite_num

12.12

In [38]:
# All our compasion operators give us back a boolean value (True, False)
print(favorite_num == 2) #== compares values
print(favorite_num != 5) # != not equal to (Aint), you get true if the values are diffrent
print(favorite_num > 5) # only greater than five 
print(favorite_num >= 5) # greater than or equal to five

False
True
True
True

### Math Operators
- Python takes care of Order of Operations
- Use parenthises when we need to create groupings or control the evaluation

In [45]:
x = 5
print(x + 10) 
print(x - 11)
print(x * 12)
print(x / 5)
print(x ** 2)

# Use hold(option) to make curser cover whole code

15
-6
60
1.0
25

In [52]:
# Floor Division or integer division w/ no remainder uses two forward slashes
3//2

3/2 # To get remainder

1.5

## Logical Operators Allow Us To Combine Statements
- we can combine values together w/ logical operators
- we can negate cvalues with logical operators
- And, Or, Not
- ANDs limit our possabilities
- ORs expand our possabilities
- A NOT operation flips the boolean value

In [53]:
not True

False

In [55]:
not False

True

In [57]:
right_here_now = True
doing_python = True
twenty_thousand_leagues_under_the_sea = False

In [58]:
# Ands only return True when all of their parts are true

In [59]:
twenty_thousand_leagues_under_the_sea and doing_python

False

In [60]:
# Truth Table for AND 
print(True and True)
print(True and False)
print(False and True)
print(True and False)

True
False
False
False

In [63]:
# Ors add possability
# Ors return True if at least one True in the OR combination
twenty_thousand_leagues_under_the_sea or doing_python

True

In [67]:
good_with_pizza = True
good_with_bbq = False
good_with_seafood = False
good_with_bbq or good_with_seafood or good_with_pizza

True

In [69]:
# Truth Table for OR 
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## One weid trick to figure out truth tables in the real world 
- Think of Ands in terms of allergies
    - If youre allergic to A and B and C and...
    - We're limiting the options
- Think of Ords in terms of food prefrence
    - Are you good with A or B or C or...
    - As long as youre good with one option you get True

In [70]:
right_here_now and (good_with_pizza or good_with_bbq)

True

In [71]:
twenty_thousand_leagues_under_the_sea and (good_with_pizza or good_with_bbq)

False

In [72]:
# Name boolean variable name with is or have for True and False output

In [76]:
is_first_of_the_month = True
report_has_been_sent = False

# should - tells part of the story 
should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

## Strings and String Operations
- Strings are the data type for words/letters

In [79]:
favorite_color = 'Teal'
favorite_color

'Teal'

In [81]:
# Once you create a varibale in an abvoe cell, you can type the vaiable
# Then type the period hit TAB key, and then we get to see the avalible built-in methods
favorite_color.count("a")

1

In [82]:
favorite_color.isdecimal()

False

In [83]:
x = '5'
x.isdigit()

True

In [86]:
# We can put strings together with +
'con' + 'cat' + 'e' + 'nation'

'concatenation'

In [87]:
# + sign concats stringsm adds numbers
'5'+'bannana'

'5bannana'

In [88]:
# + sign can not 2 things at once, can not add digit with strings variables
# 5 + 'bannana'

In [89]:
# In operator is the Membership operator
'nana' in 'bannana'

True

In [90]:
'bob' in 'pineapple'

False

In [92]:
x = 'a'
x.lower()in list('a,e,i,o,u')

True

In [97]:
# If we want to combine/concat numbers and stringm recomend using format string
# whats a format string
favorite_num = 13
"My favorite number is " + str(favorite_num)

'My favorite number is 13'

In [98]:
f"My favorite number is {favorite_num}!"

'My favorite number is 13!'

In [100]:
'ban ana'.split(', ')

['ban ana']

In [102]:
# String methods return new copies and leave the original, if you need to reasign you can
x.upper()

'A'

In [107]:
fruit = "mango"
fruit [0] # square bracket sytax returns 0 indeced values

'm'

In [109]:
fruit [3:] # gives us the last two letters of mango

'go'

In [110]:
fruit [0:2] # gives use the first two letters of mango

'ma'

In [111]:
fruit [-1] # gives us the last letter of mango

'o'

In [112]:
fruit [:-2] # gives us the first three letters of mango

'man'

## Let's Talk Lists!
- List hold values in numeric order
- Lists can hold any data type (including lists)
- Consider that a spreadsheet or db tableis a list of lists (b/c it has rows and columns)
- Lists of listis of listis >>> workbook or an entire db

In [116]:
beatles = ["John", "George", "Paul"]
beatles

['John', 'George', 'Paul']

In [117]:
beatles.append("Ringo")
beatles

['John', 'George', 'Paul', 'Ringo']

In [119]:
beatles.reverse()
beatles

['Ringo', 'Paul', 'George', 'John']

In [121]:
"John" in beatles

True

In [122]:
"Ringo" in beatles

True

In [123]:
beatles.remove("Paul")
beatles

['Ringo', 'George', 'John']

In [124]:
"Paul" in beatles

False

In [129]:
beatles

['Ringo', 'George', 'John']

In [130]:
x = [23, 2, 5, 6, 5, 7, 6]
sum(x) #Sigma

54

In [127]:
average = sum(x) / len(x)
average

7.714285714285714

In [131]:
x

[23, 2, 5, 6, 5, 7, 6]

In [134]:
# How to copy a list and change the copy but no the original.
y = x.copy()
y

[23, 2, 5, 6, 5, 7, 6]

In [138]:
sum(y)
y.append(2)
y

[23, 2, 5, 6, 5, 7, 6, 2, 2]

In [139]:
sum(y)

58

In [140]:
sum(x)

54

In [141]:
# List Comprehension is special syntax that produces new lists
# List Comprehension can contain conditional logic and even function calls inside
numbers = [1, 2, 3, 4, 5]

# Objective is to add one to every number and save as a new list called y

y = [n + 1 for n in numbers]
y

[2, 3, 4, 5, 6]

In [144]:
# Make a new list thayt contains the number of charecters in each string in a list
spice_girls = ["Posh", "Sporty", "Ginger", "Scary", "Baby"]

# list Comprehensions start with square brakets for the list'
[len(spice_girl) for spice_girl in spice_girls]

[4, 6, 6, 5, 4]

In [146]:
# Without the list comprehension, the code for above would look like: (Build up a list)
output = []
for spice_girl in spice_girls:
    output.append(len(spice_girl))
output

[4, 6, 6, 5, 4]

In [147]:
# This x valriable here in NOT any x variable from other code
# The syntax of for x creates the variable and gives it a value
[x for x in range(1, 11) if x % 2 == 0] #Put if at end of function

[2, 4, 6, 8, 10]

### Recomendations 
- Use plural for list varible names 
- Then with the for loop sigular variable, use a singular version
- Use list comphernshions to make new lists w/ transformed outputs

In [149]:
x = [1,2,3]
type(x)

list

In [150]:
#Lists is a built-in function and a data type
list("bannana")

['b', 'a', 'n', 'n', 'a', 'n', 'a']

In [151]:
# What if we need a list that cant change, ever?
# A list that is a constent?
# Tuple
x = (1, 2, 3) # parentheses
x.count(2)

1

In [152]:
x[0] #Same square braket syntax as we had with lists and strings

1

In [153]:
# If you try to run this assignments or a tuple, youll get an error
#b/c tuples
# X[0] = 5

In [154]:
# if we need a list version of a tuples 
y = list(x)
y

[1, 2, 3]

## Dictionaries

In [155]:
# Dictionaries == like a labled list!
# Dictionaries are created by curly brakets containing key:value pairs
fruit = {
    "name": "apple",
    "calories": 95,
    "carbs": 20
}

In [156]:
fruit

{'name': 'apple', 'calories': 95, 'carbs': 20}

In [157]:
type(fruit)

dict

In [159]:
# With lists, we dont havbe any lable, only the numeric index
# ["apple", 95, 20]

In [160]:
# dictionary access syntax 
fruit["carbs"]

20

In [161]:
fruit["carbs"] = 17 # Reassigning
fruit

{'name': 'apple', 'calories': 95, 'carbs': 17}

In [162]:
another_fruit = {
    "name": "mango",
    "calroies": 100,
    "carbs": 10
}

In [165]:
another_fruit

{'name': 'mango', 'calroies': 100, 'carbs': 10}

In [166]:
fruits = [fruit, another_fruit]

In [167]:
fruits

[{'name': 'apple', 'calories': 95, 'carbs': 17},
 {'name': 'mango', 'calroies': 100, 'carbs': 10}]

In [169]:
# How many carbs if we consume the apple and mango
total_carbs = fruit["carbs"] + another_fruit["carbs"]
total_carbs

27

In [173]:
student= dict()
student["name"] = "Jane Janway"
student["class_type"] = "Data Science"
student["grades"] = [95, 98, 90, 81]
student

{'name': 'Jane Janway',
 'class_type': 'Data Science',
 'grades': [95, 98, 90, 81]}

In [174]:
# How to access this students name?
student["name"]

'Jane Janway'

In [176]:
# How would we add a grade of 100 to the list of grades?
student["grades"].append(100)

In [177]:
student["grades"]

[95, 98, 90, 81, 100]

In [179]:
# how to get the students average grade
sum(student["grades"]) / len(student["grades"])

92.8

In [180]:
# With dictionaries we access by the key name.

In [181]:
student["class_type"]

'Data Science'

In [184]:
student["class_type"] = "Web Development"

In [185]:
student["class_type"]

'Web Development'

In [186]:
student["class_type"] = "Data Science"

In [187]:
student["class_type"]

'Data Science'

<class 'float'>